<!DOCTYPE html>
<html>
<head>
    <title><%= appname %></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-startup-image" href="bower_components/durandal/img/ios-startup-image-landscape.png" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="bower_components/durandal/img/ios-startup-image-portrait.png" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="bower_components/durandal/img/icon.png" />

    <!-- build:style libs -->
<% if (features.less) { %>
    <% if (features.bootstrap) { %><link rel="stylesheet" href="css/bootstrap.css" /><% } %>
    <% if (features.fontawesome) { %><link rel="stylesheet" href="css/font-awesome.css" /><% } %>
<% } else { %>
    <% if (features.bootstrap) { %><link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" /><% } %>
    <% if (features.fontawesome) { %><link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" /><% } %>
<% } %>    <link rel="stylesheet" href="bower_components/durandal/css/durandal.css" />
    <!-- /build -->
    <!-- build:style app -->
    <link rel="stylesheet" href="css/app.css" />
    <!-- /build -->

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <div id="applicationHost">
        <div class="splash">
            <h1 class="message"><%= appname %></h1>
            <% if (features.fontawesome) { %><i class="fa fa-spinner fa-2x fa-spin active"></i><% } else { %>
            <h2>Please wait...</h2><% } %>
        </div>
    </div>

    <!-- build:script libs -->
    <script src="bower_components/json2/json2.js" type="text/javascript"></script>
    <!-- /build -->
    <!-- build:script app -->
    <script src="bower_components/requirejs/require.js" data-main="app/main"></script>
    <!-- /build -->
</body>
</html>